<header class="main-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="user">
      <a class="navbar-brand" [routerLink]="['']" routerLinkActive="active">ICU</a>
      <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </form>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['user-project']" routerLinkActive="active">Profile <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Inspire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contribute</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['projects']" routerLinkActive="active" >Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-bell" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['update-profile']" routerLinkActive="active">Update Profile</a>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </li>
        </ul>
      </div> 
    </nav>
    
  </div>
      
    <app-navbar-secondary></app-navbar-secondary>
    <mat-spinner class="container"  *ngIf="showLoding"></mat-spinner>
    <router-outlet></router-outlet>
</header>