<div class="grid-wrapper">
        <!-- Profile Header -->
        <section class="profile">
            <header class="profile-header">
                <div class="profile-bg">
                    <img src="assets/images/nature.jpg">
                </div>
                <img src="{{user.profilePhoto}}">
            </header>
        </section>
        <!-- Profile Nav -->
        <div class="profile-nav">
            <div class="container mt-class">
                <ul class="nav justify-content-center">
                  <li class="nav-item text-info active">
                    <a class="nav-link text-info" href="#">Projects</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-info" href="#">Followers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-info" href="#">Followers</a>
                  </li>
                </ul>
            </div>
        </div>
        <!-- Content About The User -->
        <div class="user-info">
            <div class="card border-secondary mb-3">
              <div class="card-header text-center"><h3>{{user.firstName}} {{user.lastName}}</h3></div>
              <div class="card-body text-secondary card-title">
                <h5 class="card-title text-center">{{user.bio}}</h5>
                <p class="card-text"></p>
                <h5 class="card-title text-center"><i class="far fa-gem"></i> Diamond</h5>
                <div class="card-footer bg-transparent text-center">Score 213</div>
              </div>
            </div>
        </div>
   
    </div>