
<footer>
    <div class="footer-container">
        <div class="footer-black-1">
            <h1>ABOUT US</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto corporis eum, expedita harum hic illum ipsa iusto minima mollitia</p>
        </div>
        <div class="footer-black-2">
            <h1>USEFUL LINKS</h1>
            <ul>
                <li><a href="#">Event</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Hoosting</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer-black-3">
            <h1>CONTACT</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <ul>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>Tunis , Beb swika 1919</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>123456789</li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i>suppt@gmail.come</li>
            </ul>
        </div>
        <div class="footer-black-4">
            <h1>FOLLOW US</h1>
            <p>Please follow us on our social media platform lorem ipsum nsectetur adipisicing elit. Ad architecto corporis eum, </p>
            <ul class="footer-social">
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-facebook"></i></li>
                <li><i class="fab fa-google-plus"></i></li>
                <li><i class="fab fa-instagram"></i></li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <p>Copyright &copy 2020 ALL rights reserved</p>
    </div>
</footer>