<section class="profile">
  <header class="profile-header">
    <div class="profile-bg">
      <img src="../../../../assets/images/nature.jpg">
    </div>
    <img src="{{user.profilePhoto}}">
  </header>
  <div class="container mt-class">
    <ul class="nav justify-content-center">
      <li class="nav-item text-info active">
        <a class="nav-link text-info" href="#">Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-info" href="#">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-info" href="#">Followers</a>
      </li>
    </ul>
  </div>
  
</section>