<div class="container">
    <div class="wrapper animated bounceInLeft">
        <div class="company-info">
            <h3>Profile Settings</h3>
            <img src="../../../../../assets/images/profile.jpg" class="rounded-circle z-depth-0 img-taille">
            <button class="full">Change photo</button>
        </div>
        <div class="contact">
            <h3>Update your infos:</h3>
            <form>
                <p>
                    <label>Name</label>
                    <input type="text" name="name">
                </p>
                <p>
                    <label>company</label>
                    <input type="text" name="company">
                </p>
                <p>
                    <label>Email Address</label>
                    <input type="email" name="email">
                </p>
                <p>
                    <label>Phone number</label>
                    <input type="text" name="name">
                </p>
                <p>
                    <label class="full">Message</label>
                    <textarea name="message" rows="5"></textarea>
                </p>
                <p>
                    <button class="full">Submit</button>
                </p>
            </form>
        </div>
    </div>
</div>

