<div style="background-color: rgb(211, 211, 211);">
    <div class="row p-2 pl-4 pr-0" >
        <div class="col-sm-2 col-md-2 col-lg-2 pt-1" style="background-color: white; border-radius: 15px; height:80vh;">
            <div (click)="getProjectsByFilter(0, 0)" class="btn btn-primary btn-block btn-compose-email mt-2 {{ currentMenu == '0/0' ? 'active' : 'inactive'}}">all Projects</div>
            <div (click)="getProjectsByFilter(1, 1)" class="btn btn-primary btn-block btn-compose-email mt-2 {{ currentMenu == '1/1' ? 'active' : 'inactive'}}">finished Projects</div>
            <div (click)="getProjectsByFilter(1, 2)" class="btn btn-primary btn-block btn-compose-email mt-2 {{ currentMenu == '1/2' ? 'active' : 'inactive'}}">unfinished Projects</div>
            <div class="panel-heading">
                <h6 class="panel-title text-center mt-3">Targeted plateforms <i class="fa fa-arrow-down"></i></h6> 
            </div>
            <div (click)="getProjectsByFilter(2, 1)" class="btn btn-primary btn-block btn-compose-email mt-2 {{ currentMenu == '2/1' ? 'active' : 'inactive'}}"><i class="fa fa-facebook-official"></i> Facebook</div>
            <div (click)="getProjectsByFilter(2, 2)" class="btn btn-primary btn-block btn-compose-email mt-2 {{ currentMenu == '2/2' ? 'active' : 'inactive'}}"><i class="fa fa-instagram"></i> Instagram</div>
            <div (click)="getProjectsByFilter(2, 3)" class="btn btn-primary btn-block btn-compose-email mt-2 {{ currentMenu == '2/3' ? 'active' : 'inactive'}}"><i class="fa fa-pinterest"></i> Pinterest</div>
            <div (click)="getProjectsByFilter(2, 4)" class="btn btn-primary btn-block btn-compose-email mt-2 {{ currentMenu == '2/4' ? 'active' : 'inactive'}}"><i class="fa fa-twitter"></i> Twitter</div>
            <br/><br/><br/><br/><br/>
            <div class="panel panel-default">
                
                <div class="panel-body"></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">Panel content</div>
                Working on It biliz . . . 
            </div>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9 p-0">
            <div class="panel panel-default">
                <div class="panel-body p-2">
                    <div *ngIf="projects" class="d-flex justify-content-around flex-wrap">
                            

                        <div *ngFor="let proj of projects">
                            <!--Media-->
                            <div *ngIf="proj.media" class="card mt-4 simple" style="width: 18rem;height:550px;">
                                <img [src]="proj.media.path" height="320px" width="5%" class="card-img-top" alt="...">
                                    
                                <div class="card-body ">
                                    <div class="table">
                                        <div class="row mb-1">
                                            <h6 *ngIf="isJustInstagramProj(proj)" class="in-txt">
                                                <i class="fa fa-instagram"></i> Instagram
                                            </h6>
                                            <h6 *ngIf="isJustFacebookProj(proj)" class="fb-txt">
                                                <i class="fa fa-facebook-f"></i> Facebook
                                            </h6>
                                            <h6 *ngIf="isJustPinterestProj(proj)" class="pt-txt">
                                                <i class="fa fa-pinterest"></i> Pinterest
                                            </h6>
                                            <h6 *ngIf="isJustTikTokProj(proj)">
                                                <i class="fa fa-music"></i> TikTok
                                            </h6>

                                            <h6 *ngIf="isJustTwitterProj(proj)" class="twt-txt">
                                                <i class="fa fa-twitter"></i> Twitter
                                            </h6>
                                            <h5 *ngIf="isMultiPlatformesProj(proj)" class="category-social col-10" >
                                                <div *ngFor="let plat of proj.targetedCriterias.targetedPlatforms">
                                                    <i *ngIf="plat == 'Facebook'" class="fa fa-facebook-f font-weight-bold float-left fb-txt ml-2"></i>
                                                    <i *ngIf="plat == 'Instagram'" class="fa fa-instagram font-weight-bold float-left in-txt ml-2"></i>
                                                    <i *ngIf="plat == 'Pinterest'" class="fa fa-pinterest font-weight-bold float-left pt-txt ml-2"></i>
                                                    <i *ngIf="plat == 'TikTok'" class="fa fa-music font-weight-bold float-left ml-2"></i>
                                                    <i *ngIf="plat == 'Twitter'" class="fa fa-twitter font-weight-bold float-left twt-txt ml-2"></i>
                                                </div>
                                            </h5>
                                        </div>

                                        <h4 class="card-title">
                                            <a href="#">{{ proj.title }}</a>
                                        </h4>
                                        <p class="card-description"> {{ proj.description }}</p>
                                        <div class="ftr">
                                            <div class="author">
                                                <a href="#"> <img [src]="proj.user.profile.profilePhoto" alt="esm moula lprojet" class="a"/> <span>{{ proj.user.username }}</span></a>
                                            </div>
                                            <div class="time date" style="float: right;">
                                                <i class="fa fa-clock-o"></i> {{ proj.createdAt.substr(0, 10) }}
                                            </div>
                                        </div>
                                    </div>                 
                                </div>
                            </div>
                            <!--Copy-->
                            <div *ngIf="!proj.media" class="card text-card mt-4 {{ isJustPinterestProj(proj) ? 'peinterest' : ''}} {{ isJustFacebookProj(proj) ? 'facebook' : ''}} {{ isJustTwitterProj(proj) ? 'twitter' : ''}} {{ isJustInstagramProj(proj)||isJustTikTokProj(proj)||isMultiPlatformesProj(proj)||isNotDefPlatformesProj(proj) ? 'simple' : ''}}" style="width: 18rem;height:550px;" >
                                    <div class="row">
                                        <h5 *ngIf="isJustPinterestProj(proj)" class="category-social col-8 mb-0" style="margin-top:2%;" >
                                            <i class="fa fa-pinterest ml-3"></i> &nbsp;Pinterest
                                        </h5>
                                        <h5 *ngIf="isJustFacebookProj(proj)" class="category-social col-8 mb-0" style="margin-top:2%;" >
                                            <i class="fa fa-facebook-f ml-3"></i> &nbsp;Facebook
                                        </h5>
                                        <h5 *ngIf="isJustInstagramProj(proj)" class="category-social col-8 mb-0" style="margin-top:2%; color: #E1306C;" >
                                            <i class="fa fa-instagram font-weight-bold ml-3"></i> &nbsp;Instagram
                                        </h5>
                                        <h5 *ngIf="isJustTikTokProj(proj)" class="category-social col-8 mb-0" style="margin-top:2%;" >
                                            <i class="fa fa-music font-weight-bold ml-3" aria-hidden="true"></i> &nbsp;TikTok
                                        </h5>
                                        <h5 *ngIf="isJustTwitterProj(proj)" class="category-social col-8 mb-0" style="margin-top:2%;" >
                                            <i class="fa fa-twitter font-weight-bold ml-3" aria-hidden="true"></i> &nbsp;Twitter
                                        </h5>
                                        <div class="time col-4 date {{ isMultiPlatformesProj(proj)||isNotDefPlatformesProj(proj) ? 'ml-3' : ''}}" style="float:right;">
                                            <i class="fa fa-clock-o"></i> {{ proj.createdAt.substr(0, 10) }}
                                        </div>
                                        <h5 *ngIf="isMultiPlatformesProj(proj)" class="category-social mb-0 mt-2 col-7" >
                                            <div class="float-right mr-2" *ngFor="let plat of proj.targetedCriterias.targetedPlatforms">
                                                <i *ngIf="plat == 'Facebook'" class="fa fa-facebook-f font-weight-bold float-left fb-txt"></i>
                                                <i *ngIf="plat == 'Instagram'" class="fa fa-instagram font-weight-bold float-left in-txt"></i>
                                                <i *ngIf="plat == 'Pinterest'" class="fa fa-pinterest font-weight-bold float-left pt-txt"></i>
                                                <i *ngIf="plat == 'TikTok'" class="fa fa-music font-weight-bold float-left"></i>
                                                <i *ngIf="plat == 'Twitter'" class="fa fa-twitter font-weight-bold float-left twt-txt"></i>
                                            </div>
                                        </h5>
                                    </div>
                                    
                                    
                                    <div class="card-body mt-0">
                                      <div class="copy-conteiner mb-1 p-2 overflow-auto">
                                          {{ proj.copy.text.substr(0, 400) }} ... <a href="#"> ggiView more <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
                                      </div>
                                      <h5 class="card-title" style="font-size:135%;">{{ proj.title }}</h5>
                                      <p class="card-description desc-conteiner">{{ proj.description }}</p>
                                      <div class="ftr float-left">
                                        <div class="author">
                                            <a href="#" class="{{ isMultiPlatformesProj(proj)||isJustTikTokProj(proj)||isJustInstagramProj(proj)||isNotDefPlatformesProj(proj) ? 'simple-content' : 'colored-content' }}"> <img [src]="proj.user.profile.profilePhoto" alt="esm moula lprojet" class="a"/> <span>{{ proj.user.username }}</span></a>
                                        </div>
                                        
                                      </div>
                                      <div class="ftr text-center"> <button type="button" class="btn btn-info btn-light btn-round font-weight-bold {{ isJustInstagramProj(proj) ? 'in-txt' : ''}} {{ isJustPinterestProj(proj) ? 'pt-txt' : ''}} {{ isJustFacebookProj(proj) ? 'fb-txt' : ''}} {{ isJustTwitterProj(proj) ? 'twt-txt' : ''}}">Contribute</button> </div>
                                      
                                    </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-toggle="modal" data-target="#modalLoginForm" class="btn btn-primary btn-compose-email mt-2" style="position:fixed;top:80vh;left:95%;"><i class="fa fa-plus" aria-hidden="true"></i></div>


<div class="modal" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class=" cp-modal" role="document" >
        <app-projects></app-projects>
    </div>
</div>