.card-img-top
{
    width: 80%;
    position: relative;
    overflow: hidden;
    margin-left: 17px;
    margin-top: -20px;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.a{
box-sizing: border-box;
vertical-align: middle;
border-style: none;
box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
width: 36px;
height: 36px;
overflow: hidden;
border-radius: 50%;
margin-right: 5px;
}
a {
    color: #0060B6;
    text-decoration: none;
}

a:hover 
{
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}
#container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-title{
    font-family: 'Roboto Slab', serif;
}
.card-description{
    font-family: 'Roboto Condensed', sans-serif;
}
.text-card{
    color: white;
}
.btn{
    border-radius: 20px;
}
.card
{
    margin-top: 20px;
    border-radius: 10px;
}
#accordion .glyphicon 
{ margin-right:10px; }
    
    

.clickable{
    cursor: pointer;   
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.simple {
    background: white;
    color:black;
}

.simple-content {
    color : black;
}

.colored-content {
    color : white;
}

.peinterest {
    background: #e60023;
}

.facebook {
    background-color: #4e71ba;
}

.twitter {
    background-color: #17a2b8;
}

.pt-txt {
    color: #e60023;
}

.fb-txt {
    color: #4e71ba;
}

.twt-txt {
    color: #17a2b8;
}

.in-txt {
    color: #E1306C;
}

.copy-conteiner {
    height:40vh;
    background:#FFFFFF11;
    border:0.5px solid #FFFFFF33;
}
.desc-conteiner {
    font-size:95%;
}

/* width */
::-webkit-scrollbar {
  width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFFFFF44; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF33; 
}
.inactive {
    background-color:#FFFFF499;
    color:#bd2130;
    border:0.5px solid #bd2130;
    font-size:105%;
}
.active {
    background-color:#bd2130;
    color:#FFFFF499;
    border:0.5px solid #FFFFF499;
    font-size:105%;
}

.date{
    font-size:74%;
}
.cp-modal {
    width: 60%;
    margin: auto;
  }